__pycache__/
*.py[cod]
*.log

backend/.env
.deployment

.vscode/
.idea/
backend/.venv/
backend/.vscode/
backend/.idea/
backend/logs/

dist/

# Log files
frontend/.DS_Store
frontend/node_modules
frontend/dist

frontend/.env.local
frontend/.env.*.local

frontend/npm-debug.log*

frontend/.idea
frontend/.vscode

# terraform
.terraform
