/****** Object:  StoredProcedure [dbo].[get_engine_change_log]    Script Date: 5/5/2025 8:53:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[get_engine_change_log]
	@calendar_week int,
	@country_code int,
	@model int
as
	SET NOCOUNT ON;
	with
	pno as (SELECT ID
				  ,Code
				  ,Model
				  ,Engine
				  ,SalesVersion
				  ,Steering
				  ,Gearbox
				  ,Body
				  ,MarketCode
				  ,CountryCode
				  ,StartDate
				  ,EndDate
			 FROM dbo.PNO
			 WHERE CountryCode = @country_code
			 AND Model = @model
			 AND (Steering = '1' OR Steering = '1.0')
			 and @calendar_week between StartDate and EndDate
	),
	eng as (SELECT distinct
				   Code
				  ,ShortText
				  ,MarketText
				  ,CountryCode
				  ,nullif(CustomName,'') CustomName
				  ,nullif(Performance,'') Performance
				  ,nullif(EngineCategory,'') EngineCategory
			FROM dbo.Engine
			WHERE CountryCode = @country_code
			and @calendar_week between StartDate and EndDate
				 --and (lower(EngineCategory) = lower('Mild Hybrid'))
	),
	sv as (SELECT distinct 
				  Code
				 ,Special
				 ,ShortText
				 ,MarketText
				 ,CountryCode
				 ,case when CustomName is null then MarketText when CustomName = '' then MarketText else CustomName end CustomName
			FROM SalesVersion
			WHERE CountryCode = @country_code
			and @calendar_week between StartDate and EndDate
	),
	md as (SELECT ID, MarketText, CustomName, StartDate, EndDate
  		   FROM Model
		   WHERE CountryCode = @country_code
		   AND Code = @model
		   and @calendar_week between StartDate and EndDate
	)
	select pno.model, pno.SalesVersion, sv.CustomName SvCustomName, pnoc.price, pno.Engine, eng.CustomName EngCustomName, pno.Gearbox, @calendar_week as calendar_week
	from pno
	join eng on pno.Engine = eng.Code
	join sv on sv.Code = pno.SalesVersion
	left join PNOCustom pnoc on pno.id = pnoc.RelationID
GO

GRANT EXECUTE ON SCHEMA::dbo TO pmt_db_service;
GO