/****** Object:  Table [dbo].[PNOColorCustom]    Script Date: 2/24/2025 5:50:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PNOColorCustom](
	[RelationID] [uniqueidentifier] NULL,
	[Price] [decimal](19, 2) NULL,
	[PriceBeforeTax] [decimal](19, 2) NULL,
	[CustomName] [nvarchar](max) NULL,
	[StartDate] [int] NULL,
	[EndDate] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[PNOColorCustom]  WITH CHECK ADD FOREIGN KEY([RelationID])
REFERENCES [dbo].[PNOColor] ([ID])
GO
