/****** Object:  Table [dbo].[SalesVersion]    Script Date: 2/24/2025 5:50:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET NOCOUNT ON
GO
CREATE TABLE [dbo].[SalesVersion](
	[ID] [uniqueidentifier] NOT NULL,
	[Code] [varchar](12) NULL,
	[Special] [char](1) NULL,
	[ShortText] [varchar](255) NULL,
	[MarketText] [varchar](255) NULL,
	[CountryCode] [varchar](12) NULL,
	[CustomName] [nvarchar](max) NULL,
	[StartDate] [int] NULL,
	[EndDate] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[SalesVersion] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[SalesVersion]  WITH CHECK ADD FOREIGN KEY([CountryCode])
REFERENCES [dbo].[SupportedCountry] ([Code])
GO
INSERT [dbo].[SalesVersion] ([ID], [Code], [Special], [ShortText], [MarketText], [CountryCode], [CustomName], [StartDate], [EndDate]) VALUES (N'b11a45ff-810e-44cb-a5de-3c8ca0f9fdeb', N'CB', N' ', N'SVCB', N'BLACK EDITION PURE EL 2', N'231', N'Ultra Black Edition', 202417, 202516)
GO
INSERT [dbo].[SalesVersion] ([ID], [Code], [Special], [ShortText], [MarketText], [CountryCode], [CustomName], [StartDate], [EndDate]) VALUES (N'85330748-143f-43e7-8f53-db0599c4273c', N'CB', N' ', N'SVCB', N'BLACK EDITION PURE EL 2', N'231', N'Ultra Black Edition', 202517, 202616)
GO
