/****** Object:  Table [dbo].[ChangeLog]    Script Date: 2/24/2025 5:50:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChangeLog](
	[ID] [uniqueidentifier] NOT NULL,
	[CountryCode] [varchar](12) NULL,
	[ChangeCode] [varchar](128) NULL,
	[ChangeTable] [varchar](128) NULL,
	[ChangeDate] [datetime] NULL,
	[ChangeType] [varchar](100) NULL,
	[ChangeField] [varchar](100) NULL,
	[ChangeFrom] [nvarchar](max) NULL,
	[ChangeTo] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChangeLog] ADD  DEFAULT (newid()) FOR [ID]
GO
