/****** Object:  Table [dbo].[PNOUpholsteryCustom]    Script Date: 2/24/2025 5:50:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET NOCOUNT ON
GO
CREATE TABLE [dbo].[PNOUpholsteryCustom](
	[RelationID] [uniqueidentifier] NULL,
	[Price] [decimal](19, 2) NULL,
	[PriceBeforeTax] [decimal](19, 2) NULL,
	[CustomName] [nvarchar](max) NULL,
	[CustomCategory] [varchar](255) NULL,
	[StartDate] [int] NULL,
	[EndDate] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[PNOUpholsteryCustom]  WITH CHECK ADD FOREIGN KEY([RelationID])
REFERENCES [dbo].[PNOUpholstery] ([ID])
GO
INSERT [dbo].[PNOUpholsteryCustom] ([RelationID], [Price], [PriceBeforeTax], [CustomName], [CustomCategory], [StartDate], [EndDate]) VALUES (N'2074acec-a78f-4f61-a159-41ce070186fc', CAST(0.00 AS Decimal(19, 2)), CAST(0.00 AS Decimal(19, 2)), N'Polsterung: Anthrazit Innendesign: Anthrazit Teppich: Anthrazit Dachhimmel: Anthrazit', N'Textil (Rivel Chine) inkl. Mittelarmlehne hinten', 202404, 202516)
GO
