/****** Object:  Table [dbo].[PNOOptions]    Script Date: 2/24/2025 5:50:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET NOCOUNT ON
GO
CREATE TABLE [dbo].[PNOOptions](
	[ID] [uniqueidentifier] NOT NULL,
	[PNOID] [uniqueidentifier] NULL,
	[Code] [varchar](12) NULL,
	[RuleName] [varchar](12) NULL,
	[StartDate] [int] NULL,
	[EndDate] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PNOOptions] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[PNOOptions]  WITH CHECK ADD FOREIGN KEY([PNOID])
REFERENCES [dbo].[PNO] ([ID])
GO
INSERT [dbo].[PNOOptions] ([ID], [PNOID], [Code], [RuleName], [StartDate], [EndDate]) VALUES (N'A15247C7-861C-4926-AE62-0689C6741664', N'569664B5-5CB4-4EBB-9B08-06EACCF7EF5D', N'X03013', N'O', 202222, 202316)
GO
