/****** Object:  Table [dbo].[SalesChannel]    Script Date: 2/24/2025 5:50:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesChannel](
	[ID] [uniqueidentifier] NOT NULL,
	[Code] [varchar](12) NULL,
	[ChannelName] [nvarchar](max) NULL,
	[Comment] [nvarchar](max) NULL,
	[CountryCode] [varchar](12) NULL,
	[DateFrom] [date] NULL,
	[DateTo] [date] NULL,
	[ModelYear] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[SalesChannel] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[SalesChannel]  WITH CHECK ADD FOREIGN KEY([CountryCode])
REFERENCES [dbo].[SupportedCountry] ([Code])
GO
