/****** Object:  Table [dbo].[Color]    Script Date: 2/24/2025 5:50:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET NOCOUNT ON
GO
CREATE TABLE [dbo].[Color](
	[ID] [uniqueidentifier] NOT NULL,
	[Code] [varchar](12) NULL,
	[Special] [char](1) NULL,
	[ShortText] [varchar](255) NULL,
	[MarketText] [varchar](255) NULL,
	[CountryCode] [varchar](12) NULL,
	[StartDate] [int] NULL,
	[EndDate] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Color] ADD  DEFAULT (newid()) FOR [ID]
GO
INSERT [dbo].[Color] ([ID], [Code], [Special], [ShortText], [MarketText], [CountryCode], [StartDate], [EndDate]) VALUES (N'ea2fad8a-1f22-4d96-9852-b681484c612f', N'717', N' ', N'EXT717', N'ONYX BLACK', N'231', 202517, 202616)
GO
INSERT [dbo].[Color] ([ID], [Code], [Special], [ShortText], [MarketText], [CountryCode], [StartDate], [EndDate]) VALUES (N'b39b900f-8bc9-40cf-aa4e-c72b616ee9a0', N'717', N' ', N'EXT717', N'Space', N'231', 202425, 202545)
GO
