/****** Object:  Table [dbo].[PNOPackage]    Script Date: 2/24/2025 5:50:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET NOCOUNT ON
GO
CREATE TABLE [dbo].[PNOPackage](
	[ID] [uniqueidentifier] NOT NULL,
	[PNOID] [uniqueidentifier] NULL,
	[Code] [varchar](12) NULL,
	[Title] [varchar](255) NULL,
	[RuleCode] [varchar](12) NULL,
	[RuleType] [varchar](12) NULL,
	[RuleName] [varchar](12) NULL,
	[RuleBase] [varchar](12) NULL,
	[StartDate] [int] NULL,
	[EndDate] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PNOPackage] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[PNOPackage]  WITH CHECK ADD FOREIGN KEY([PNOID])
REFERENCES [dbo].[PNO] ([ID])
GO
INSERT [dbo].[PNOPackage] ([ID], [PNOID], [Code], [Title], [RuleCode], [RuleType], [RuleName], [RuleBase], [StartDate], [EndDate])
VALUES (N'F80445CB-8DCF-4DF5-9CEA-045570A8578B', N'569664B5-5CB4-4EBB-9B08-06EACCF7EF5D', N'PA005', N'Dog Package', N'A00189', N'OPT', N'B', null, 202222, 202239)
GO
