/****** Object:  Table [dbo].[Discount]    Script Date: 2/24/2025 5:50:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discount](
	[ID] [uniqueidentifier] NOT NULL,
	[ChannelID] [uniqueidentifier] NULL,
	[DiscountPercentage] [decimal](19, 2) NULL,
	[RetailPrice] [decimal](19, 2) NULL,
	[WholesalePrice] [decimal](19, 2) NULL,
	[PNOSpecific] [bit] NULL,
	[AffectedVisaFile] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Discount] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[Discount]  WITH CHECK ADD FOREIGN KEY([ChannelID])
REFERENCES [dbo].[SalesChannel] ([ID])
GO
