/****** Object:  Table [dbo].[SupportedCountry]    Script Date: 2/24/2025 5:50:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET NOCOUNT ON
GO
CREATE TABLE [dbo].[SupportedCountry](
	[Code] [varchar](12) NOT NULL,
	[CountryName] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

INSERT [dbo].[SupportedCountry] ([Code], [CountryName]) VALUES (N'231', N'Germany')
GO
INSERT [dbo].[SupportedCountry] ([Code], [CountryName]) VALUES (N'232', N'Switzerland')
GO
