/****** Object:  Table [dbo].[PNOFeature]    Script Date: 2/24/2025 5:50:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET NOCOUNT ON
GO
CREATE TABLE [dbo].[PNOFeature](
	[ID] [uniqueidentifier] NOT NULL,
	[PNOID] [uniqueidentifier] NULL,
	[Code] [varchar](12) NULL,
	[Special] [char](1) NULL,
	[Reference] [varchar](255) NULL,
	[Options] [varchar](12) NULL,
	[RuleName] [varchar](12) NULL,
	[CustomName] [nvarchar](max) NULL,
	[CustomCategory] [nvarchar](max) NULL,
	[StartDate] [int] NULL,
	[EndDate] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[PNOFeature] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[PNOFeature]  WITH CHECK ADD FOREIGN KEY([PNOID])
REFERENCES [dbo].[PNO] ([ID])
GO
INSERT INTO [dbo].[PNOFeature]
           ([ID]
           ,[PNOID]
           ,[Code]
           ,[Special]
           ,[Reference]
           ,[Options]
           ,[RuleName]
           ,[CustomName]
           ,[CustomCategory]
           ,[StartDate]
           ,[EndDate])
     VALUES
           ('6C813A58-A573-4A91-AD67-CFB63BB90B03'
           ,'F295F3B7-DA49-4A95-8CB3-10EC21CB5B89'
           ,'XR1025'
           ,''
           ,'XR1025'
           ,''
           ,'O'
           ,'Rental WKZ'
           ,'Intern'
           ,202417
           ,202516)
GO

