/****** Object:  Table [dbo].[Package]    Script Date: 2/24/2025 5:50:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET NOCOUNT ON
GO
CREATE TABLE [dbo].[Package](
	[ID] [uniqueidentifier] NOT NULL,
	[Code] [varchar](12) NULL,
	[Special] [char](1) NULL,
	[ShortText] [varchar](255) NULL,
	[MarketText] [varchar](255) NULL,
	[CountryCode] [varchar](12) NULL,
	[StartDate] [int] NULL,
	[EndDate] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Package] ADD  DEFAULT (newid()) FOR [ID]
GO
INSERT [dbo].[Package] ([ID], [Code], [Special], [ShortText], [MarketText], [CountryCode], [StartDate], [EndDate]) VALUES (N'7c20510c-808e-4c70-be43-8f58765e4f2a', N'P0030', N' ', N'', N'Edition Pack', N'231', 202449, 202445)
GO
INSERT [dbo].[Package] ([ID], [Code], [Special], [ShortText], [MarketText], [CountryCode], [StartDate], [EndDate]) VALUES (N'e11f9ce0-df86-46e3-9d4c-9266ac4289b3', N'P0001', N' ', N'', N'Power Seats', N'231', 202449, 202445)
GO
