/****** Object:  Table [dbo].[PNOPackageCustom]    Script Date: 2/24/2025 5:50:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET NOCOUNT ON
GO
CREATE TABLE [dbo].[PNOPackageCustom](
	[RelationID] [uniqueidentifier] NULL,
	[Price] [decimal](19, 2) NULL,
	[PriceBeforeTax] [decimal](19, 2) NULL,
	[CustomName] [nvarchar](max) NULL,
	[StartDate] [int] NULL,
	[EndDate] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[PNOPackageCustom]  WITH CHECK ADD FOREIGN KEY([RelationID])
REFERENCES [dbo].[PNOPackage] ([ID])
GO
INSERT [dbo].[PNOPackageCustom] ([RelationID], [Price], [PriceBeforeTax], [CustomName], [StartDate], [EndDate]) VALUES (N'b78bc9b1-bf3f-467d-9ff8-0ec4d69699de', CAST(1810.00 AS Decimal(19, 2)), CAST(1521.01 AS Decimal(19, 2)), N'Business-Paket', 202404, 202516)
GO
