/****** Object:  Table [dbo].[DataQualityLog]    Script Date: 2/24/2025 5:50:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataQualityLog](
	[ID] [uniqueidentifier] NOT NULL,
	[CountryCode] [varchar](12) NULL,
	[LogDate] [datetime] NULL,
	[LogType] [varchar](100) NULL,
	[LogMessage] [nvarchar](max) NULL,
	[LoadingDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[DataQualityLog] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[DataQualityLog] ADD  DEFAULT (getdate()) FOR [LoadingDate]
GO
