/****** Object:  Table [dbo].[PNOCustomFeature]    Script Date: 2/24/2025 5:50:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PNOCustomFeature](
	[ID] [uniqueidentifier] NOT NULL,
	[PNOID] [uniqueidentifier] NULL,
	[Code] [varchar](12) NULL,
	[CustomName] [nvarchar](max) NULL,
	[CustomCategory] [varchar](255) NULL,
	[StartDate] [int] NULL,
	[EndDate] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[PNOCustomFeature] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[PNOCustomFeature]  WITH CHECK ADD FOREIGN KEY([PNOID])
REFERENCES [dbo].[PNO] ([ID])
GO
