/****** Object:  Table [dbo].[Model]    Script Date: 2/24/2025 5:50:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET NOCOUNT ON
GO
CREATE TABLE [dbo].[Model](
	[ID] [uniqueidentifier] NOT NULL,
	[Code] [varchar](12) NULL,
	[Special] [char](1) NULL,
	[ShortText] [varchar](255) NULL,
	[MarketText] [varchar](255) NULL,
	[CountryCode] [varchar](12) NULL,
	[CustomName] [nvarchar](max) NULL,
	[StartDate] [int] NULL,
	[EndDate] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Model] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[Model]  WITH CHECK ADD FOREIGN KEY([CountryCode])
REFERENCES [dbo].[SupportedCountry] ([Code])
GO

INSERT [dbo].[Model] ([ID], [Code], [Special], [ShortText], [MarketText], [CountryCode], [CustomName], [StartDate], [EndDate]) VALUES (N'99B23A81-00D0-4A35-AFEB-0D3EDD0E9A73', N'539', N' ', N'C40', N'EC40', N'231', N'EC40', 202517, 202616)
GO
INSERT [dbo].[Model] ([ID], [Code], [Special], [ShortText], [MarketText], [CountryCode], [CustomName], [StartDate], [EndDate]) VALUES (N'C3CA5B74-D6B2-46BD-9BD8-68BF57B65EBA', N'539', N' ', N'C40', N'EC40', N'231', N'EC40', 202417, 202516)
GO
INSERT [dbo].[Model] ([ID], [Code], [Special], [ShortText], [MarketText], [CountryCode], [CustomName], [StartDate], [EndDate]) VALUES (N'F3DEB481-9AF6-4A48-8337-9E3F7E070A13', N'539', N' ', N'C40', N'EC40', N'231', N'EC40', 202317, 202416)
GO

