/****** Object:  Table [dbo].[VisaFiles]    Script Date: 2/24/2025 5:50:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET NOCOUNT ON
GO
CREATE TABLE [dbo].[VisaFiles](
	[ID] [uniqueidentifier] NOT NULL,
	[Active] [nvarchar](255) NULL,
	[SalesOrg] [nvarchar](255) NULL,
	[DistrCh] [nvarchar](255) NULL,
	[PriceList] [nvarchar](255) NULL,
	[DealerGroup] [nvarchar](255) NULL,
	[Country] [nvarchar](255) NULL,
	[CarType] [nvarchar](255) NULL,
	[Engine] [nvarchar](255) NULL,
	[SalesVersion] [nvarchar](255) NULL,
	[Body] [nvarchar](255) NULL,
	[Gearbox] [nvarchar](255) NULL,
	[Steering] [nvarchar](255) NULL,
	[MarketCode] [nvarchar](255) NULL,
	[ModelYear] [nvarchar](255) NULL,
	[StructureWeek] [nvarchar](255) NULL,
	[DateFrom] [nvarchar](255) NULL,
	[DateTo] [nvarchar](255) NULL,
	[Currency] [nvarchar](255) NULL,
	[Color] [nvarchar](255) NULL,
	[Options] [nvarchar](255) NULL,
	[Upholstery] [nvarchar](255) NULL,
	[Package] [nvarchar](255) NULL,
	[SNote] [nvarchar](255) NULL,
	[MSRP] [nvarchar](255) NULL,
	[TAX2] [nvarchar](255) NULL,
	[VAT] [nvarchar](255) NULL,
	[TAX1] [nvarchar](255) NULL,
	[PriceBeforeTax] [nvarchar](255) NULL,
	[WholesalePrice] [nvarchar](255) NULL,
	[TransferPrice] [nvarchar](255) NULL,
	[VisaFile] [nvarchar](255) NULL,
	[CountryCode] [varchar](12) NULL,
	[LoadingDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VisaFiles] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[VisaFiles] ADD  DEFAULT (getdate()) FOR [LoadingDate]
GO
