/****** Object:  Table [dbo].[PNOUpholstery]    Script Date: 2/24/2025 5:50:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET NOCOUNT ON
GO
CREATE TABLE [dbo].[PNOUpholstery](
	[ID] [uniqueidentifier] NOT NULL,
	[PNOID] [uniqueidentifier] NULL,
	[Code] [varchar](12) NULL,
	[RuleName] [varchar](12) NULL,
	[StartDate] [int] NULL,
	[EndDate] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PNOUpholstery] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[PNOUpholstery]  WITH CHECK ADD FOREIGN KEY([PNOID])
REFERENCES [dbo].[PNO] ([ID])
GO
INSERT [dbo].[PNOUpholstery] ([ID], [PNOID], [Code], [RuleName], [StartDate], [EndDate]) VALUES (N'2074ACEC-A78F-4F61-A159-41CE070186FC', N'F295F3B7-DA49-4A95-8CB3-10EC21CB5B89', N'R780', N'B', 202417, 202516)
GO
