/****** Object:  Table [dbo].[CustomLocalOption]    Script Date: 2/24/2025 5:50:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomLocalOption](
	[ID] [uniqueidentifier] NOT NULL,
	[ChannelID] [uniqueidentifier] NULL,
	[FeatureCode] [varchar](12) NULL,
	[FeatureRetailPrice] [decimal](19, 2) NULL,
	[FeatureWholesalePrice] [decimal](19, 2) NULL,
	[AffectedVisaFile] [nvarchar](max) NULL,
	[DateFrom] [date] NULL,
	[DateTo] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CustomLocalOption] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[CustomLocalOption]  WITH CHECK ADD FOREIGN KEY([ChannelID])
REFERENCES [dbo].[SalesChannel] ([ID])
GO
