/****** Object:  Table [dbo].[PNO]    Script Date: 2/24/2025 5:50:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET NOCOUNT ON
GO
CREATE TABLE [dbo].[PNO](
	[ID] [uniqueidentifier] NOT NULL,
	[Code] [varchar](12) NULL,
	[Model] [varchar](12) NULL,
	[Engine] [varchar](12) NULL,
	[SalesVersion] [varchar](12) NULL,
	[Steering] [varchar](12) NULL,
	[Gearbox] [varchar](12) NULL,
	[Body] [varchar](12) NULL,
	[MarketCode] [varchar](12) NULL,
	[CountryCode] [varchar](12) NULL,
	[StartDate] [int] NULL,
	[EndDate] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PNO] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[PNO]  WITH CHECK ADD FOREIGN KEY([CountryCode])
REFERENCES [dbo].[SupportedCountry] ([Code])
GO
INSERT [dbo].[PNO] ([ID], [Code], [Model], [Engine], [SalesVersion], [Steering], [Gearbox], [Body], [MarketCode], [CountryCode], [StartDate], [EndDate]) VALUES (N'f295f3b7-da49-4a95-8cb3-10ec21cb5b89', N'539EHCB0L119', N'539', N'EH', N'CB', N'1', N'L', N'0', N'19', N'231', 202417, 202516)
GO
INSERT [dbo].[PNO] ([ID], [Code], [Model], [Engine], [SalesVersion], [Steering], [Gearbox], [Body], [MarketCode], [CountryCode], [StartDate], [EndDate]) VALUES (N'7cecf47a-a3d6-4fdd-8a30-113ffc3f8e2d', N'539EHRB0L119', N'539', N'EH', N'RB', N'1', N'L', N'0', N'19', N'231', 202317, 202416)
GO
INSERT [dbo].[PNO] ([ID], [Code], [Model], [Engine], [SalesVersion], [Steering], [Gearbox], [Body], [MarketCode], [CountryCode], [StartDate], [EndDate]) VALUES (N'25298a26-39ba-4735-9a0e-1157afdd2125', N'539EHC80L119', N'539', N'EH', N'C8', N'1', N'L', N'0', N'19', N'231', 202517, 202616)
GO
